.navbar-wrapper {
  padding: 0 8rem 1.25rem 8rem;
  background: transparent;
  border-bottom: 1px solid var(--secondary-color);
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar__logo {
  padding: 0.5rem 0 0.25rem 0;
  text-align: center;
  font-size: 32px;
  font-weight: medium;
}

.navbar svg {
  display: none;
  cursor:pointer;
}

@media screen and (min-width: 1600px) {
  .navbar-wrapper {
    padding: 0 8rem 0.5rem 8rem;
    margin: 0 auto;
    max-width: 2000px;
  }
}
@media screen and (max-width: 950px) {
  .navbar-wrapper {
    padding: 0 2rem 1.25rem 2rem;
  }
  .navbar {
    justify-content: center;
    flex-direction: column;
  }
  .navbar__logo {
    font-size: 24px;
  }
}

@media screen and (max-width: 550px) {
  .navbar-wrapper {
    padding: 0 1rem 1rem 1rem;
  }
  .navbar {
    justify-content: space-between;
    flex-direction: row;
  }
  .navbar__logo {
    margin-top: 0.5rem;
    font-size: 20px;
    padding-top: 0.5rem;
  }
  .navbar ul {
    display: none;
  }

  .navbar svg {
    display: inline;
  }
}
